@import 'vars.scss';
@import "compass/css3/user-interface";
@import "compass/css3/background-size";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "animation";

body {
	background: $lightGrey;
	color: $darkGrey;
	font-size: 18px;
	font-family: "Avenir", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	//font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.container {
	text-align: center;
}

#main {
	&.hidden {
		display: none;
	}
	&.visible {
		display: block;
		@include animation(alpha-in .25s null null null forwards);
	}
}

/***** TYPOGRAPHY *****/

h2 {
	font-size: 25px;
	font-weight: 600;

	@media (max-width: $screen-xs-max) {
		font-size: 20px;
	}
}

p {
	margin-bottom: 30px;
}

a {
  color: $yellow;
  text-decoration: underline;
  &.page-link {
  	color: white;
  }
}
a:hover,
a:focus {
  color: $yellow;
  text-decoration: underline;
  &.page-link {
  	color: white;
  }
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.footnote {
	font-size: 12px;
}

blockquote {
	font-size: 30px;
	font-style: italic;
	border: none;
}

label {
	margin-bottom: 0;
}

/***** HEADER *****/

header {
	position: fixed;
	top: 0;
	z-index: -1000;
	width: 100%;

	nav {
		margin-top: 20px;
	}
}

#intro {
	background: url('../img/two-gay-chaps-lg.jpg') no-repeat center center;
	@include background-size(cover);
	height: 700px;
	color: white;

	.container {
		padding-top: 375px;
		.logo {
			p {
				margin-top: 10px;
			}
		}
	}

	@media (max-width: $screen-xs-max) {
		background: url('../img/two-gay-chaps-lg.jpg') no-repeat center center;
		@include background-size(cover);
		height: 400px;
		padding-top: 100px;

		.container {
			padding-top: 125px;
			.logo {
				font-size: 12px;
			}
		}

	}
}

.arrow-mask {
	background: url('../img/arrow-mask.png') no-repeat center center;
	height: 30px;
	margin-top: 670px;

	@media (max-width: $screen-xs-max) {
		margin-top: 370px;
	}
}

/***** DETAIL BLOCK *****/

.detail-block, .detail-block-alt {
	background: $lightGrey;	
	padding: 50px 0 50px 0;

	h2 {
		margin-bottom: 30px;
	}
	p {
		line-height: 1.7em;
	}

	.btn {
		border: none;
		padding: 10px 30px;
		margin: 30px 0;
		color: $darkGrey;
	}

	ul {
		list-style-type: none;
		padding-left: 0;
		
		li {
			padding: 5px 0;

		}
		.list-break {
			color: $mustard;
		}
	}
}

.detail-block-alt {
	background: $darkGrey;
	color: white;
}

/***** PARALLAX HEXAGONS *****/

#rent {
	position: relative;
	background: $lightGrey;
	
	#hex-container {
		width: inherit;
		position: absolute;
		top: 0;
	
		#hexagons {
			position: relative;
			
			#hex-1 {
				position: absolute;
				margin-top: 0px;
				left: 10%;
				width: 150px;
				height: 150px;
				background: url('../img/hex-1.png') no-repeat center center;
				background-size: 100%;
			}

			#hex-2 {
				position: absolute;
				margin-top: 100px;
				right: 10%;
				width: 200px;
				height: 200px;
				background: url('../img/hex-2.png') no-repeat center center;
				background-size: 100%;
			}

			#hex-3 {
				position: absolute;
				margin-top: 300px;
				left: 5%;
				width: 200px;
				height: 200px;
				background: url('../img/hex-3.png') no-repeat center center;
				background-size: 100%;
			}

			#hex-4 {
				position: absolute;
				margin-top: 600px;
				right: 15%;
				width: 150px;
				height: 150px;
				background: url('../img/hex-4.png') no-repeat center center;
				background-size: 100%;
			}

			@media (max-width: $screen-xs-max) {
				display: none;
			}
		}
	}
}

/***** FEATURE IMAGE *****/

.feature-image {
	height: 300px;
	
	&#hives {
		background: url('../img/hives-sm.jpg') no-repeat;
		@include background-size(cover);
	}
	&#bee-finger {
		background: url('../img/bee-finger-sm.jpg') no-repeat;
		@include background-size(cover);
	}
	&#men-at-work {
		background: url('../img/men-at-work-sm.jpg') no-repeat;
		@include background-size(cover);
	}

	@media (min-width: $screen-sm-min) {
		&#hives {
			background: url('../img/hives-lg.jpg') no-repeat;
			@include background-size(cover);
		}
		&#bee-finger {
			background: url('../img/bee-finger-lg.jpg') no-repeat;
			@include background-size(cover);
		}
		&#men-at-work {
			background: url('../img/men-at-work-lg.jpg') no-repeat;
			@include background-size(cover);
		}
	}
}

/***** ADOPTION *****/
.plan {
	cursor: pointer;

	background: white;
	padding: 0;
	margin-bottom: 50px;

	.header {
		img {
			width: 100%;
		}
	}

	.details {
		padding: 15px 0;
		.title {
			font-weight: 600;
		}
		.price {
			font-size: 1.2em;
			padding-top: 10px;
			color: $mustard;
		}
	}
}

.plan:hover {
	opacity: 0.5;
}

/***** HAPPY CUSTOMERS *****/

#customer-pic-1 {
	img {
		width: 100%;
		margin-bottom: 50px;
	}
}

/***** MISC *****/

.big-gap {
	height: 75px;
}

.contact {
	color: $yellow;
	text-decoration: underline;
	margin-right: 10px;
}

.btn-default:hover {
	background: $yellow;
}

#about-us {
	background: white;
	a {
		color: $darkGrey;
	}
}

.box-btn {
	padding: 10px 20px;
	margin: 10px 0;
	border: solid 1px $darkGrey;
	cursor: pointer;
	display: inline-block;
}


hr {
	border-top: solid 1px $darkGrey;
}


/***** MENUS *****/

.navbar {
	position: absolute;
	right: 0;
	left: 0;
	font-size: 16px;
	border: none;
}

.navbar .nav, .navbar .nav > li {
	float:none;
	display:inline-block;
	*display:inline; /* ie7 fix */
	*zoom:1; /* hasLayout ie7 trigger */
	vertical-align: top;
}

.nav > li a:hover, .nav > li a:focus {
	background: none;
}

.navbar-inner {
  text-align:center;
}

nav {
	a {
		color: white;
		text-decoration: none;
	}
}

#sticky-menu {
	width: 100%;
	height: 50px;
	background: white;
	position: fixed;
	top: 0;

	@include transition(top, 0.2s);
	@include translate(0,-50px);
	&.visible {
		@include translate(0,0px);
	}

	.logo {
		width: 60px;
		height: 50px;
		margin: 0 30px;
		background: url('../img/barnes-and-webb-logo-sm.png') no-repeat center center;
		background-size: 100%;
	}

	a {
		color: $darkGrey;
		text-decoration: none;
		line-height: 30px;
	}
	a:hover, a:focus {
		color: $mustard;
	}
}

// Responsive
@media (max-width: $screen-xs-max) {
	.navbar .nav > li a {
		font-size: 14px;
		padding: 5px;
	}
	#sticky-menu {
		.logo {
			display: none;
		}
		a {
			padding-top: 15px;
		}
	}
}

/***** EMAIL SIGN-UP *****/

#email-signup {
	form {	
		input {
			border: none;
			padding: 10px 15px;
			width: 75%;
		}
		#submit {
			display: inline-block;
			width: 25%;
			padding: 10px 15px;
			background: $mustard;
			text-decoration: none;
		}
		margin-bottom: 15px;
	}
	.invalid {
		display: none;
		padding: 15px 0 5px 0;
		color: $red;
	}

	@media (max-width: $screen-xs-max) {
		form {
			font-size: 14px;
		}
	}

	padding-bottom: 80px;
}

footer {
	height: 200px;
	background: $darkGrey;
	text-align: center;
	padding-top: 50px;
	
	.contact {
		margin: 25px 0;
	}

	.footnote {
		color: white;
	}
}

/***** SHOP *****/

#basket-container {
	position: fixed;
	z-index: 1000;
	top: 50px;
	width: 100%;
	text-align: center;
	background: white;
	
	#sticky-basket {
		padding: 10px 0;
		margin: 50px 0;
		border: solid 1px $darkGrey;
		cursor: pointer;

		label {
			cursor: pointer;
			@include user-select(none);
			font-weight: 400;
		}
	}
}

#shop {
	display: none;
	background: $lightGrey;
	margin-top: 200px;

	&.visible {
		display: block;
		@include animation(alpha-in .25s null null null forwards);
	}

	.row .intro {
		margin: 25px 0 100px 0;
	}

	.simpleCart_shelfItem {
		margin-bottom: 50px;

		a {
			display: inline-block;
			color: $darkGrey;
			text-decoration: none;
			
			.item_name {

			}
			.add-to-basket{
				font-weight: 600;
				font-size: 16px;
				line-height: 30px;
			}
		}

		.header {
			position: relative;
			img {
				width: 100%;
			}
			.over {
				@include transition(opacity, 0.1s);
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				background: rgba(255,255,255,0.9) url('../img/jar-over.png') no-repeat center center;
				width: 100%;
				height: 100%;
			}
		}
		.header:hover {
			.over {
				@include transition(opacity, 0.2s);
				opacity: 1;
			}
		}

		.details {
			padding: 20px 0;
			background: $yellow;
			text-align: center;

		}
	}

	@media (max-width: $screen-xs-max) {
		.row .intro {
			display: none;
		}
	}
}

/***** BASKET *****/

#basket {
	position: absolute;
	top: 120px;
	z-index: 2000;
	width: 100%;
	background: $lightGrey;
	display: none;

	.itemRow {
		text-align: left;
		img {
			width: 100%;
		}
		.item-quantity {
			input {
				width: 100%;
				text-align: center;
				border: solid 1px $darkGrey;
				background: $lightGrey;
				padding: 15px;
			}
		}
		.item-total {
			text-align: right;
		}
	}

	.summary {
		.left {
			text-align: left;
		}
		.right {
			text-align: right;
		}
		.total {
			font-weight: 600;
		}
	}

	#checkout {
		span {
			background: $yellow;
			a {
				color: $darkGrey;
				text-decoration: none;
			}
		}
	}
}

/***** ANIMATIONS *****/

@include keyframes(alpha-in) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}