@import 'vars.scss';
@import "compass/css3/user-interface";
@import "compass/css3/background-size";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "animation";

body {
	background: $lightGrey;
	color: $darkGrey;
	font-size: 18px;
	font-family: "Avenir", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	//font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.container {
	text-align: center;
}

#main {
	&.hidden {
		display: none;
	}
	&.visible {
		display: block;
		@include animation(alpha-in .25s null null null forwards);
	}
}

/***** TYPOGRAPHY *****/

h1 {
	font-weight: 400;
	font-size: 55px;
	margin-bottom: 40px;
}

h2 {
	font-size: 40px;
	font-weight: 300;

	@media (max-width: $screen-xs-max) {
		font-size: 20px;
	}
}

h3 {
	margin: 50px 0 30px 0;
	font-weight: 600;
}

p {
	margin-bottom: 30px;
}

a {
  color: $darkGrey;
  text-decoration: underline;
  &.page-link {
  	color: white;
  }
}
a:hover,
a:focus {
  color: $darkGrey;
  text-decoration: underline;
  &.page-link {
  	color: white;
  }
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.footnote {
	font-size: 12px;
}

blockquote {
	font-size: 30px;
	font-style: italic;
	border: none;
}

label {
	margin-bottom: 0;
}

/***** HEADER *****/

header {
	position: fixed;
	top: 0;
	z-index: -1000;
	width: 100%;

	nav {
		margin-top: 20px;
	}
}

#intro {
	background: url('../img/barnes-and-webb-hero-lg.jpg') no-repeat center center;
	@include background-size(cover);
	height: 650px;
	color: white;

	.container {
		padding-top: 300px;
		.logo {
			p {
				margin-top: 10px;
			}
		}
	}

	@media (max-width: $screen-xs-max) {
		background: url('../img/barnes-and-webb-hero-sm.jpg') no-repeat center center;
		@include background-size(cover);
		height: 400px;
		padding-top: 100px;

		.container {
			padding-top: 125px;
			.logo {
				font-size: 14px;
			}
		}
	}
	@media(min-width:$screen-sm-min){
		.logo {
			font-size: 24px;
			p {
				padding-top: 15px;			
			}
		}
	}
	@media(min-width:$screen-md-min){
		.logo {
			font-size: 28px;
			p {
				padding-top: 15px;			
			}
		}
	}
}

.arrow-mask {
	background: url('../img/arrow-mask.png') no-repeat center center;
	height: 30px;
	margin-top: 620px;

	@media (max-width: $screen-xs-max) {
		margin-top: 370px;
	}
}

/***** DETAIL BLOCK *****/

.detail-block, .detail-block-alt {
	background: $lightGrey;	
	padding: 30px 0 30px 0;

	p {
		line-height: 1.7em;
	}

	.btn {
		border: none;
		padding: 10px 30px;
		margin: 30px 0;
		color: $darkGrey;
	}

	ul {
		list-style-type: none;
		padding-left: 0;
		
		li {
			padding: 5px 0;

		}
		.list-break {
			color: $mustard;
		}
	}
}

.detail-block-alt {
	background: $yellow;
	color: $darkGrey;

	a {
		color: $darkGrey;
	}

	.prices {
		color: $mustard;
		margin-top: 30px;
	}
}

/***** PARALLAX HEXAGONS *****/

#rent {
	position: relative;
	background: $lightGrey;
	
	#hex-container {
		width: inherit;
		position: absolute;
		top: 0;
	
		#hexagons {
			position: relative;
			
			#hex-1 {
				position: absolute;
				margin-top: 375px;
				left: 10%;
				width: 150px;
				height: 150px;
				background: url('../img/hex-1.png') no-repeat center center;
				background-size: 100%;
			}

			#hex-2 {
				position: absolute;
				margin-top: 375px;
				right: 12%;
				width: 200px;
				height: 200px;
				background: url('../img/hex-2.png') no-repeat center center;
				background-size: 100%;
			}

			#hex-3 {
				position: absolute;
				margin-top: 475px;
				left: 30%;
				width: 200px;
				height: 200px;
				background: url('../img/hex-3.png') no-repeat center center;
				background-size: 100%;
			}

			#hex-4 {
				position: absolute;
				margin-top: 400px;
				right: 35%;
				width: 125px;
				height: 125px;
				background: url('../img/hex-4.png') no-repeat center center;
				background-size: 100%;
			}

			@media (max-width: $screen-xs-max) {
				display: none;
			}
		}
	}
}

/***** FEATURE IMAGE *****/

.feature-image {
	height: 300px;
	
	&#hives {
		background: $darkGrey url('../img/hives-sm.jpg') no-repeat center center;
		@include background-size(cover);
	}
	&#bee-finger {
		background: $darkGrey url('../img/bee-finger-sm.jpg') no-repeat  center center;
		@include background-size(cover);
	}
	&#men-at-work {
		background: $darkGrey url('../img/men-at-work-sm.jpg') no-repeat  center center;
		@include background-size(cover);
	}

	@media (min-width: $screen-sm-min) {
		&#hives {
			background: $darkGrey url('../img/hives-lg.jpg') no-repeat center center;
			@include background-size(cover);
		}
		&#bee-finger {
			background: $darkGrey url('../img/bee-finger-lg.jpg') no-repeat center center;
			@include background-size(cover);
		}
		&#men-at-work {
			background: $darkGrey url('../img/men-at-work-lg.jpg') no-repeat center center;
			@include background-size(cover);
		}
	}
}

/***** ADOPTION *****/

#adopt {
	#adopt-accordion {
		.panel {
			border: none;
			margin: 0;
			background: $midGrey;
			&.open {
				background: white;
				.panel-heading {
					background: white;
				}
			}
			.panel-heading {
				background: $midGrey;
				a {
					color: $darkGrey;
					text-decoration: none;
				}	
				text-align: left;
				font-size: 24px;
				line-height: 60px;
				.price {
					color: $mustard;
				}
				.title {
					font-weight: 600;
					margin-right: 5px;
				}
				.action{
					text-align: right;
				}
			}
			.panel-body {
				text-align: left;

				.title {
					font-size: 16px;
					color: $mustard;
					margin-bottom: 10px;
				}
				li {
					padding: 5px 0;
				}
				.image img {
					width: 100%;
				}
				.action {
					button {
						font-size: 20px;
						width: 100%;
						padding: 10px 0;
						background: $yellow;
					}
				}

			}
			
			@media(max-width: $screen-xs-max){
				.panel-heading {
					font-size: 16px;
				}
				.panel-body {
					font-size: 16px;	
					.image {
						display: none;
					}
				} 

			}

		}
	}
}

/***** QUOTE CAROUSEL *****/

#quote-carousel {
	.item {
		text-align: center;
		font-size: 30px;
		font-style: italic;
		
		.quote {
			padding: 30px 0 20px 0;
		}

		.quotee {
			color: $mustard;
			padding-bottom: 10px;
			font-size: 25px;
		}

		img {
			display: block;
			width: 100%;
		}
		@media(max-width:$screen-xs-max){
			font-size: 20px;
			.quotee {
				font-size: 15px;
			}
		}
	}

}

/***** MISC *****/

.big-gap {
	height: 250px;

	@media(max-width:$screen-xs-max){
		display: none;
	}
}

/*
.contact {
	color: $yellow;
	text-decoration: underline;
	margin-right: 10px;
}
*/

.btn-default:hover {
	background: $yellow;
}

#about-us {
	background: white;
	a {
		color: $darkGrey;
	}
}

.box-btn {
	padding: 10px 20px;
	margin: 10px 0;
	border: solid 1px $darkGrey;
	cursor: pointer;
	display: inline-block;
	width: 100%;
}


hr {
	border-top: solid 1px $darkGrey;
}


/***** MENUS *****/

.navbar {
	font-size: 16px;
	line-height: 30px;
	border: none;
	margin: 0;
}

.navbar .nav, .navbar .nav > li {
	float:none;
	display:inline-block;
	*display:inline; /* ie7 fix */
	*zoom:1; /* hasLayout ie7 trigger */
	vertical-align: top;
}

.nav > li a:hover, .nav > li a:focus {
	background: none;
}

.navbar-inner {
  text-align:center;
}

nav {
	a {
		color: white;
		text-decoration: none;
	}
	a:hover, a:focus {
		color: $yellow;
	}
}

#static-menu {
	position: absolute;
	top: 20px;
	width: 100%;
	height: 60px;
	
	// TODO fix this properly
	.contact {
		text-decoration: none;
	}
	
	.logo-container {
		display: none;
		.logo {
			width: 70px;
			height: 50px;
			margin: 0 15px;
			background: url('../img/barnes-and-webb-initials-white.png') no-repeat center center;
			background-size: 100%;
		}		
	}

	@media (min-width: $screen-md-min) {
		.logo-container {
			display: block;
		}
	}

	.menu-basket {
		height: 40px;
		padding: 8px 0;
		margin: 5px 0 0 0;
		cursor: pointer;
		color: white;
		font-size: 16px;


		label {
			cursor: pointer;
			@include user-select(none);
			font-weight: 400;
		}
	}
	
	// we just use the sticky menu on mobile
	@media(max-width: $screen-xs-max){
		display: none;
	}

}

#sticky-menu {
	z-index: 1000;
	width: 100%;
	position: fixed;
	top: 0;
	background: white;
	font-size: 16px;
	
	.logo-container {
		display: none;
	}
	.contact {
		text-decoration: none;
	}
	.nav-container {
		background: $lightGrey;
		#main-nav {
			background: white;
		}
		.navbar-toggle {
			margin-right: 0;
			padding: 9px 15px;
		}
	}
	.icon-bar {
		background: $darkGrey;
	}
	.logo {
		width: 70px;
		height: 50px;
		margin: 0 15px;
		background: url('../img/barnes-and-webb-initials-colour.png') no-repeat center center;
		background-size: 100%;
	}
	a {
		color: $darkGrey;
		text-decoration: none;
		line-height: 30px;
	}
	a:hover, a:focus {
		color: $mustard;
	}
	.menu-basket {
		height: 40px;
		padding: 5px 0;
		margin: 5px 0 0 0;
		border: solid 1px $darkGrey;
		cursor: pointer;

		label {
			cursor: pointer;
			font-weight: 400;
		}

		&.flash {
			@include animation(yellow-flash 1s null null null forwards);
		}
	}
	
	@media (min-width: $screen-sm-min) {	
		.navbar-header {
			display: none;
		}

		@include transition(top, 0.2s);
		@include translate(0,-50px);
		&.visible {
			@include translate(0,0px);
		}
	}
	
	@media (min-width: $screen-md-min){
		.logo-container {
			display: block;
		}
	}

	@media (max-width: $screen-xs-max) {
		border-bottom: solid 1px white;

		.navbar .nav, .navbar .nav > li {
			width: 100%;
			a {
				padding: 10px 0;
			}
		}
		.nav-container {
			padding: 0;
		}

		.navbar-collapse {
			max-height: none;
			//padding-bottom: 25px;
		}
		.menu-basket {
			margin-bottom: 25px;
		}
	}
}

/***** CONTACT *****/

#contact {
	background: $darkGrey;
	h2 {
		color: white;
	}
	a, .contact {
		display: block;
		font-size: 25px;
		padding: 10px 0;
		color: $yellow;
		text-decoration: underline;
	}

	@media(max-width:$screen-xs-max){
		a {
			font-size: 20px;
		}
	}
}


/***** EMAIL SIGN-UP *****/

#email-signup {
	padding: 40px 0;
	background: $lightGrey;		
	
	.input-holder {
		margin: 20px 0 50px 0;
	}

	h3 {
		font-weight: 300;
	}

	form {	
		input {
			border: none;
			padding: 10px 15px;
			width: 75%;
			margin: 0;
		}
		#submit {
			width: 25%;
			padding: 10px 15px;
			background: $mustard;
			text-decoration: none;
			border: none;
			margin: 0;
		}
		padding-bottom: 20px;
	}

	@media (max-width: $screen-xs-max) {
		form {
			font-size: 14px;
		}
	}

}

// social icons...
#footer-social {
	margin-bottom: 20px;
	a {
		opacity: 0.5;
		padding: 0 10px;
		img {
			width: 30px;
			height: 30px;
		}
	}
	a:hover {
		opacity: 1;
		@include transition(opacity, 0.2s);
	}
}

/***** SHOP *****/

#shop {
	display: none;
	background: $lightGrey;
	margin-top: 100px;

	&.visible {
		display: block;
		@include animation(alpha-in .25s null null null forwards);
	}

	.row .intro {
		margin: 25px 0 100px 0;
		a {
			color: $darkGrey;
			text-decoration: underline;
		}
	}

	.simpleCart_shelfItem {
		margin-bottom: 50px;

		a {
			display: inline-block;
			color: $darkGrey;
			text-decoration: none;
			
			.item_name {

			}
			.add-to-basket{
				font-weight: 600;
				font-size: 16px;
				line-height: 30px;
			}
		}

		.header {
			position: relative;
			img {
				width: 100%;
			}
			.over {
				@include transition(opacity, 0.1s);
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				background: rgba(255,255,255,0.9) url('../img/jar-over.png') no-repeat center center;
				width: 100%;
				height: 100%;

				&.hover {
					@include transition(opacity, 0.2s);
					opacity: 1;
				}
			}
		}

		.details {
			padding: 20px 0;
			background: $yellow;
			text-align: center;
		}
	}

	#stockist-list {
		h3 {
			margin-bottom: 50px;
		}

		a {
			color: $darkGrey;
			text-decoration: underline;
		}
	}

	@media (max-width: $screen-xs-max) {
		.row .intro {
			display: none;
		}
	}
}

/***** BASKET *****/

#basket {
	position: absolute;
	top: 120px;
	z-index: 100;
	width: 100%;
	background: $lightGrey;
	display: none;

	.left {
		text-align: left;
	}
	.right {
		text-align: right;
	}

	.itemRow {
		text-align: left;
		margin-bottom: 30px;
		img {
			width: 100%;
		}
		.item-details {
			padding-top: 15px;
		}
		.item-quantity {
			input {
				width: 100%;
				text-align: center;
				border: solid 1px $darkGrey;
				background: $lightGrey;
				padding: 15px 0;
			}
		}
		.item-total {
			text-align: right;
			line-height: 55px;
		}
		a {
			color: $darkGrey;
			text-decoration: none;
			display: block;
			width: 100%;
			line-height: 55px;
		}
		.item_increment, .item_decrement {
			padding: 0;
		}
	}

	.summary {
		.subtotal {
			padding-bottom: 5px;
		}
		.total {
			font-weight: 600;
		}
	}

	#checkout {
		span {
			background: $yellow;
			a {
				color: $darkGrey;
				text-decoration: none;
			}
		}
	}

	.headerRow {
		display: none;
	}

	@media(max-width:$screen-xs-max){
		top: 80px;
		font-size: 16px;
		.item-thumb, .dash {
			display: none;
		}
		.item-details {
			padding-top: 0 !important;
		}
	}
	@media(min-width:$screen-sm-min){
		.actions {
			font-size: 12px;
		}
	}
	@media(min-width:$screen-md-min){
		.actions {
			font-size: 14px;
		}
	}
	@media(min-width:$screen-lg-min){
		.actions {
			font-size: 16px;
		}
	}
}

/***** STICKY SOCIAL *****/

#sticky-social {
	position: fixed;
	bottom: 20px;
	right:10px;
	width: 40px;
	height: 140px;

	.social-icon {
		width: 40px;
		height: 40px;
		margin-bottom: 5px;
	}

	#fb {
		background: url('../img/fb-c.svg') no-repeat;
		@include background-size(cover);
	}
	#tw {
		background: url('../img/tw-c.svg') no-repeat;
		@include background-size(cover);
	}
	#ig {
		background: url('../img/ig-c.svg') no-repeat;
		@include background-size(cover);
	}

	@media(max-width:$screen-xs-max) {
		display: none;
	}
}

/***** ANIMATIONS *****/

@include keyframes(alpha-in) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(yellow-flash){
	0% {
		background-color: rgba($yellow, 1);
	}
	100% {
		background-color: rgba($yellow, 0);
	}	
}