$lightGrey: #eae9e4;
$midGrey: #f3f1ef;
$darkGrey: #5a5a52;
$newGrey: #acaca8;
$yellow: #ffed87;
$mustard: #d8b218;
$red: #e74c3c;

$screen-xs-max:767px;
$screen-sm-min:768px;
$screen-md-min:992px;
$screen-lg-min:1200px;