/* line 5, ../sass/style.scss */
body {
  background: #eae9e4;
  color: #5a5a52;
  font-size: 18px;
  font-family: "Avenir", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* line 14, ../sass/style.scss */
.container {
  text-align: center;
}

/***** TYPOGRAPHY *****/
/* line 20, ../sass/style.scss */
h2 {
  font-size: 25px;
  font-weight: 600;
}
@media (max-width: 767px) {
  /* line 20, ../sass/style.scss */
  h2 {
    font-size: 20px;
  }
}

/* line 29, ../sass/style.scss */
p {
  margin-bottom: 30px;
}

/* line 33, ../sass/style.scss */
a {
  color: #ffed87;
  text-decoration: underline;
}
/* line 36, ../sass/style.scss */
a.page-link {
  color: white;
}

/* line 41, ../sass/style.scss */
a:hover,
a:focus {
  color: #ffed87;
  text-decoration: underline;
}
/* line 44, ../sass/style.scss */
a:hover.page-link,
a:focus.page-link {
  color: white;
}

/* line 48, ../sass/style.scss */
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 54, ../sass/style.scss */
.footnote {
  font-size: 12px;
}

/* line 58, ../sass/style.scss */
blockquote {
  font-size: 30px;
  font-style: italic;
  border: none;
}

/* line 64, ../sass/style.scss */
label {
  margin-bottom: 0;
}

/***** HEADER *****/
/* line 70, ../sass/style.scss */
header {
  position: fixed;
  top: 0;
  z-index: -1000;
  width: 100%;
}
/* line 76, ../sass/style.scss */
header nav {
  margin-top: 20px;
}

/* line 81, ../sass/style.scss */
#intro {
  background: url("../img/two-gay-chaps-lg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
  color: white;
}
/* line 87, ../sass/style.scss */
#intro .container {
  padding-top: 375px;
}
/* line 90, ../sass/style.scss */
#intro .container .logo p {
  margin-top: 10px;
}
@media (max-width: 767px) {
  /* line 81, ../sass/style.scss */
  #intro {
    background: url("../img/two-gay-chaps-lg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    padding-top: 100px;
  }
  /* line 102, ../sass/style.scss */
  #intro .container {
    padding-top: 125px;
  }
  /* line 104, ../sass/style.scss */
  #intro .container .logo {
    font-size: 12px;
  }
}

/* line 112, ../sass/style.scss */
.block-1 {
  margin-top: 700px;
}
@media (max-width: 767px) {
  /* line 112, ../sass/style.scss */
  .block-1 {
    margin-top: 400px;
  }
}

/***** DETAIL BLOCK *****/
/* line 122, ../sass/style.scss */
.detail-block, .detail-block-alt {
  background: #eae9e4;
  padding: 50px 0 50px 0;
}
/* line 126, ../sass/style.scss */
.detail-block h2, .detail-block-alt h2 {
  margin-bottom: 30px;
}
/* line 129, ../sass/style.scss */
.detail-block p, .detail-block-alt p {
  line-height: 1.7em;
}
/* line 133, ../sass/style.scss */
.detail-block .btn, .detail-block-alt .btn {
  border: none;
  padding: 10px 30px;
  margin: 30px 0;
  color: #5a5a52;
}
/* line 140, ../sass/style.scss */
.detail-block ul, .detail-block-alt ul {
  list-style-type: none;
  padding-left: 0;
}
/* line 144, ../sass/style.scss */
.detail-block ul li, .detail-block-alt ul li {
  padding: 5px 0;
}
/* line 148, ../sass/style.scss */
.detail-block ul .list-break, .detail-block-alt ul .list-break {
  color: #d8b218;
}

/* line 154, ../sass/style.scss */
.detail-block-alt {
  background: #5a5a52;
  color: white;
}

/***** PARALLAX HEXAGONS *****/
/* line 161, ../sass/style.scss */
#rent {
  position: relative;
  background: #eae9e4;
}
/* line 165, ../sass/style.scss */
#rent #hex-container {
  width: inherit;
  position: absolute;
  top: 0;
}
/* line 170, ../sass/style.scss */
#rent #hex-container #hexagons {
  position: relative;
}
/* line 173, ../sass/style.scss */
#rent #hex-container #hexagons #hex-1 {
  position: absolute;
  margin-top: 0px;
  left: 10%;
  width: 150px;
  height: 150px;
  background: url("../img/hex-1.png") no-repeat center center;
  background-size: 100%;
}
/* line 183, ../sass/style.scss */
#rent #hex-container #hexagons #hex-2 {
  position: absolute;
  margin-top: 100px;
  right: 10%;
  width: 200px;
  height: 200px;
  background: url("../img/hex-2.png") no-repeat center center;
  background-size: 100%;
}
/* line 193, ../sass/style.scss */
#rent #hex-container #hexagons #hex-3 {
  position: absolute;
  margin-top: 300px;
  left: 5%;
  width: 200px;
  height: 200px;
  background: url("../img/hex-3.png") no-repeat center center;
  background-size: 100%;
}
/* line 203, ../sass/style.scss */
#rent #hex-container #hexagons #hex-4 {
  position: absolute;
  margin-top: 600px;
  right: 15%;
  width: 150px;
  height: 150px;
  background: url("../img/hex-4.png") no-repeat center center;
  background-size: 100%;
}
@media (max-width: 767px) {
  /* line 170, ../sass/style.scss */
  #rent #hex-container #hexagons {
    display: none;
  }
}

/***** FEATURE IMAGE *****/
/* line 222, ../sass/style.scss */
.feature-image {
  height: 300px;
}
/* line 225, ../sass/style.scss */
.feature-image#hives {
  background: url("../img/hives-sm.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 229, ../sass/style.scss */
.feature-image#bee-finger {
  background: url("../img/bee-finger-sm.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 233, ../sass/style.scss */
.feature-image#men-at-work {
  background: url("../img/men-at-work-sm.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (min-width: 768px) {
  /* line 239, ../sass/style.scss */
  .feature-image#hives {
    background: url("../img/hives-lg.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  /* line 243, ../sass/style.scss */
  .feature-image#bee-finger {
    background: url("../img/bee-finger-lg.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  /* line 247, ../sass/style.scss */
  .feature-image#men-at-work {
    background: url("../img/men-at-work-lg.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

/***** ADOPTION *****/
/* line 255, ../sass/style.scss */
.plan {
  cursor: pointer;
  background: white;
  padding: 0;
  margin-bottom: 50px;
}
/* line 263, ../sass/style.scss */
.plan .header img {
  width: 100%;
}
/* line 268, ../sass/style.scss */
.plan .details {
  padding: 15px 0;
}
/* line 270, ../sass/style.scss */
.plan .details .title {
  font-weight: 600;
}
/* line 273, ../sass/style.scss */
.plan .details .price {
  font-size: 1.2em;
  padding-top: 10px;
  color: #d8b218;
}

/* line 281, ../sass/style.scss */
.plan:hover {
  opacity: 0.5;
}

/***** HAPPY CUSTOMERS *****/
/* line 288, ../sass/style.scss */
#customer-pic-1 img {
  width: 100%;
  margin-bottom: 50px;
}

/***** MISC *****/
/* line 296, ../sass/style.scss */
.big-gap {
  height: 75px;
}

/* line 300, ../sass/style.scss */
.contact {
  color: #ffed87;
  text-decoration: underline;
  margin-right: 10px;
}

/* line 306, ../sass/style.scss */
.btn-default:hover {
  background: #ffed87;
}

/* line 310, ../sass/style.scss */
#about-us {
  background: white;
}

/* line 314, ../sass/style.scss */
.box-btn {
  padding: 10px 20px;
  margin: 10px 0;
  border: solid 1px #5a5a52;
  cursor: pointer;
  display: inline-block;
}

/* line 323, ../sass/style.scss */
hr {
  border-top: solid 1px #5a5a52;
}

/***** MENUS *****/
/* line 330, ../sass/style.scss */
.navbar {
  position: absolute;
  right: 0;
  left: 0;
  font-size: 16px;
}

/* line 337, ../sass/style.scss */
.navbar .nav, .navbar .nav > li {
  float: none;
  display: inline-block;
  *display: inline;
  /* ie7 fix */
  *zoom: 1;
  /* hasLayout ie7 trigger */
  vertical-align: top;
}

/* line 345, ../sass/style.scss */
.nav > li a:hover, .nav > li a:focus {
  background: none;
  text-decoration: underline;
}

/* line 350, ../sass/style.scss */
.navbar-inner {
  text-align: center;
}

/* line 355, ../sass/style.scss */
nav a {
  color: white;
}

/* line 360, ../sass/style.scss */
#sticky-menu {
  width: 100%;
  height: 50px;
  background: white;
  position: fixed;
  top: -50px;
}
/* line 367, ../sass/style.scss */
#sticky-menu .logo {
  width: 60px;
  height: 50px;
  margin: 0 30px;
  background: url("../img/barnes-and-webb-logo-sm.png") no-repeat center center;
  background-size: 100%;
}
/* line 375, ../sass/style.scss */
#sticky-menu a {
  color: #5a5a52;
  text-decoration: none;
  line-height: 30px;
}
/* line 380, ../sass/style.scss */
#sticky-menu a:hover, #sticky-menu a:focus {
  color: #d8b218;
}

@media (max-width: 767px) {
  /* line 387, ../sass/style.scss */
  .navbar .nav > li a {
    font-size: 14px;
    padding: 5px;
  }

  /* line 392, ../sass/style.scss */
  #sticky-menu .logo {
    display: none;
  }
  /* line 395, ../sass/style.scss */
  #sticky-menu a {
    padding-top: 15px;
  }
}
/***** EMAIL SIGN-UP *****/
/* line 403, ../sass/style.scss */
#email-signup {
  padding-bottom: 80px;
}
/* line 404, ../sass/style.scss */
#email-signup form {
  margin-bottom: 15px;
}
/* line 405, ../sass/style.scss */
#email-signup form input {
  border: none;
  padding: 10px 15px;
  width: 75%;
}
/* line 410, ../sass/style.scss */
#email-signup form #submit {
  display: inline-block;
  width: 25%;
  padding: 10px 15px;
  background: #d8b218;
  text-decoration: none;
}
/* line 419, ../sass/style.scss */
#email-signup .invalid {
  display: none;
  padding: 15px 0 5px 0;
  color: #e74c3c;
}
@media (max-width: 767px) {
  /* line 426, ../sass/style.scss */
  #email-signup form {
    font-size: 14px;
  }
}

/* line 434, ../sass/style.scss */
footer {
  height: 200px;
  background: #5a5a52;
  text-align: center;
  padding-top: 50px;
}
/* line 440, ../sass/style.scss */
footer .contact {
  margin: 25px 0;
}
/* line 444, ../sass/style.scss */
footer .footnote {
  color: white;
}

/***** SHOP *****/
/* line 451, ../sass/style.scss */
#basket-container {
  position: fixed;
  z-index: 1000;
  top: 50px;
  width: 100%;
  text-align: center;
  background: #eae9e4;
}
/* line 459, ../sass/style.scss */
#basket-container #sticky-basket {
  padding: 10px 0;
  margin: 50px 0;
  border: solid 1px #5a5a52;
  cursor: pointer;
}
/* line 465, ../sass/style.scss */
#basket-container #sticky-basket label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-weight: 400;
}

/* line 473, ../sass/style.scss */
#shop {
  display: none;
  background: #eae9e4;
  margin-top: 200px;
}
/* line 478, ../sass/style.scss */
#shop .row .intro {
  margin-bottom: 100px;
}
/* line 482, ../sass/style.scss */
#shop .simpleCart_shelfItem {
  margin-bottom: 50px;
}
/* line 485, ../sass/style.scss */
#shop .simpleCart_shelfItem a {
  color: #5a5a52;
  text-decoration: none;
}
/* line 492, ../sass/style.scss */
#shop .simpleCart_shelfItem a .add-to-basket {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}
/* line 500, ../sass/style.scss */
#shop .simpleCart_shelfItem .header img {
  width: 100%;
}
/* line 504, ../sass/style.scss */
#shop .simpleCart_shelfItem .details {
  padding: 20px 0;
  background: #ffed87;
  text-align: center;
}
@media (max-width: 767px) {
  /* line 513, ../sass/style.scss */
  #shop .row .intro {
    display: none;
  }
}

/***** BASKET *****/
/* line 521, ../sass/style.scss */
#basket {
  position: absolute;
  top: 120px;
  z-index: 2000;
  width: 100%;
  background: #eae9e4;
  display: none;
}
/* line 529, ../sass/style.scss */
#basket .itemRow {
  text-align: left;
}
/* line 531, ../sass/style.scss */
#basket .itemRow img {
  width: 100%;
}
/* line 535, ../sass/style.scss */
#basket .itemRow .item-quantity input {
  width: 100%;
  text-align: center;
  border: solid 1px #5a5a52;
  background: #eae9e4;
  padding: 15px;
}
/* line 543, ../sass/style.scss */
#basket .itemRow .item-total {
  text-align: right;
}
/* line 549, ../sass/style.scss */
#basket .summary .left {
  text-align: left;
}
/* line 552, ../sass/style.scss */
#basket .summary .right {
  text-align: right;
}
/* line 555, ../sass/style.scss */
#basket .summary .total {
  font-weight: 600;
}
/* line 561, ../sass/style.scss */
#basket #checkout span {
  background: #ffed87;
}
/* line 563, ../sass/style.scss */
#basket #checkout span a {
  color: #5a5a52;
  text-decoration: none;
}
