/* line 4, ../sass/style.scss */
body {
  background: #eae9e4;
  color: #5a5a52;
  font-size: 18px;
  font-family: "Avenir", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* line 13, ../sass/style.scss */
.container {
  text-align: center;
}

/***** TYPOGRAPHY *****/
/* line 19, ../sass/style.scss */
h2 {
  font-size: 25px;
  font-weight: 600;
}
@media (max-width: 767px) {
  /* line 19, ../sass/style.scss */
  h2 {
    font-size: 20px;
  }
}

/* line 28, ../sass/style.scss */
a {
  color: #ffed87;
  text-decoration: underline;
}
/* line 31, ../sass/style.scss */
a.page-link {
  color: white;
}

/* line 36, ../sass/style.scss */
a:hover,
a:focus {
  color: #ffed87;
  text-decoration: underline;
}
/* line 39, ../sass/style.scss */
a:hover.page-link,
a:focus.page-link {
  color: white;
}

/* line 43, ../sass/style.scss */
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 49, ../sass/style.scss */
.footnote {
  font-size: 12px;
}

/***** HEADER *****/
/* line 55, ../sass/style.scss */
header {
  position: fixed;
  top: 0;
  z-index: -1000;
  width: 100%;
}
/* line 61, ../sass/style.scss */
header nav {
  margin-top: 20px;
}
@media (max-width: 767px) {
  /* line 67, ../sass/style.scss */
  header .navbar .nav > li a {
    font-size: 14px;
    padding: 5px;
  }
}

/* line 74, ../sass/style.scss */
#intro {
  background: url("../img/two-gay-chaps-lg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
  color: white;
}
/* line 80, ../sass/style.scss */
#intro .logo {
  margin-top: 375px;
}
/* line 83, ../sass/style.scss */
#intro .logo p {
  margin-top: 10px;
}
@media (max-width: 767px) {
  /* line 74, ../sass/style.scss */
  #intro {
    background: url("../img/two-gay-chaps-lg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    padding-top: 100px;
  }
  /* line 94, ../sass/style.scss */
  #intro .logo {
    margin-top: 125px;
    font-size: 12px;
  }
}

/* line 101, ../sass/style.scss */
.block-1 {
  margin-top: 700px;
}
@media (max-width: 767px) {
  /* line 101, ../sass/style.scss */
  .block-1 {
    margin-top: 400px;
  }
}

/***** DETAIL BLOCK *****/
/* line 111, ../sass/style.scss */
.detail-block, .detail-block-alt {
  background: #eae9e4;
  padding: 50px 0 50px 0;
}
/* line 115, ../sass/style.scss */
.detail-block h2, .detail-block-alt h2 {
  margin-bottom: 30px;
}
/* line 118, ../sass/style.scss */
.detail-block p, .detail-block-alt p {
  line-height: 1.7em;
}
/* line 122, ../sass/style.scss */
.detail-block .btn, .detail-block-alt .btn {
  border: none;
  padding: 10px 30px;
  margin: 30px 0;
  color: #5a5a52;
}
/* line 129, ../sass/style.scss */
.detail-block ul, .detail-block-alt ul {
  list-style-type: none;
  padding-left: 0;
}
/* line 133, ../sass/style.scss */
.detail-block ul li, .detail-block-alt ul li {
  padding: 5px 0;
}
/* line 137, ../sass/style.scss */
.detail-block ul .list-break, .detail-block-alt ul .list-break {
  color: #d8b218;
}

/* line 143, ../sass/style.scss */
.detail-block-alt {
  background: #5a5a52;
  color: white;
}

/***** PARALLAX HEXAGONS *****/
/* line 150, ../sass/style.scss */
#about-us {
  position: relative;
  background: #eae9e4;
}
/* line 154, ../sass/style.scss */
#about-us #hex-container {
  width: inherit;
  position: absolute;
  top: 0;
}
/* line 159, ../sass/style.scss */
#about-us #hex-container #hexagons {
  position: relative;
}
/* line 162, ../sass/style.scss */
#about-us #hex-container #hexagons #hex-1 {
  position: absolute;
  margin-top: 0px;
  left: 10%;
  width: 150px;
  height: 150px;
  background: url("../img/hex-1.png") no-repeat center center;
  background-size: 100%;
}
/* line 172, ../sass/style.scss */
#about-us #hex-container #hexagons #hex-2 {
  position: absolute;
  margin-top: 100px;
  right: 10%;
  width: 200px;
  height: 200px;
  background: url("../img/hex-2.png") no-repeat center center;
  background-size: 100%;
}
/* line 182, ../sass/style.scss */
#about-us #hex-container #hexagons #hex-3 {
  position: absolute;
  margin-top: 300px;
  left: 5%;
  width: 200px;
  height: 200px;
  background: url("../img/hex-3.png") no-repeat center center;
  background-size: 100%;
}
/* line 192, ../sass/style.scss */
#about-us #hex-container #hexagons #hex-4 {
  position: absolute;
  margin-top: 600px;
  right: 15%;
  width: 150px;
  height: 150px;
  background: url("../img/hex-4.png") no-repeat center center;
  background-size: 100%;
}
@media (max-width: 767px) {
  /* line 159, ../sass/style.scss */
  #about-us #hex-container #hexagons {
    display: none;
  }
}

/***** FEATURE IMAGE *****/
/* line 211, ../sass/style.scss */
.feature-image {
  height: 300px;
}
/* line 214, ../sass/style.scss */
.feature-image#hives {
  background: url("../img/hives-sm-2.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (min-width: 768px) {
  /* line 220, ../sass/style.scss */
  .feature-image#hives {
    background: url("../img/hives-lg-2.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

/***** MISC *****/
/* line 230, ../sass/style.scss */
.big-gap {
  height: 75px;
}

/* line 234, ../sass/style.scss */
.contact {
  color: #ffed87;
  text-decoration: underline;
  margin-right: 10px;
}

/***** MENUS *****/
/* line 242, ../sass/style.scss */
.navbar {
  position: absolute;
  right: 0;
  left: 0;
}

/* line 248, ../sass/style.scss */
.navbar .nav, .navbar .nav > li {
  float: none;
  display: inline-block;
  *display: inline;
  /* ie7 fix */
  *zoom: 1;
  /* hasLayout ie7 trigger */
  vertical-align: top;
}

/* line 258, ../sass/style.scss */
.navbar-inner {
  text-align: center;
}

/* line 263, ../sass/style.scss */
nav a {
  color: white;
}

/* line 268, ../sass/style.scss */
#sticky-menu {
  width: 100%;
  height: 50px;
  background: white;
  position: fixed;
  top: -50px;
}
/* line 275, ../sass/style.scss */
#sticky-menu .logo {
  width: 60px;
  height: 50px;
  margin: 0 30px;
  background: url("../img/barnes-and-webb-logo-sm.png") no-repeat center center;
  background-size: 100%;
}
/* line 283, ../sass/style.scss */
#sticky-menu a {
  color: #5a5a52;
  text-decoration: none;
  line-height: 30px;
}

/***** TEMP *****/
/* line 293, ../sass/style.scss */
footer {
  height: 200px;
  background: #5a5a52;
}
