/* line 8, ../sass/style.scss */
body {
  background: #eae9e4;
  color: #5a5a52;
  font-size: 18px;
  font-family: "Avenir", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* line 16, ../sass/style.scss */
.container {
  text-align: center;
}

/* line 21, ../sass/style.scss */
#main.hidden {
  display: none;
}
/* line 24, ../sass/style.scss */
#main.visible {
  display: block;
  -webkit-animation: alpha-in 0.25s forwards;
  -moz-animation: alpha-in 0.25s forwards;
  -ms-animation: alpha-in 0.25s forwards;
  -o-animation: alpha-in 0.25s forwards;
  animation: alpha-in 0.25s forwards;
}

/***** TYPOGRAPHY *****/
/* line 32, ../sass/style.scss */
h1 {
  font-weight: 400;
  font-size: 55px;
  margin-bottom: 40px;
}

/* line 38, ../sass/style.scss */
h2 {
  font-size: 40px;
  font-weight: 300;
}
@media (max-width: 767px) {
  /* line 38, ../sass/style.scss */
  h2 {
    font-size: 20px;
  }
}

/* line 47, ../sass/style.scss */
h3 {
  margin: 50px 0 30px 0;
  font-weight: 600;
}

/* line 52, ../sass/style.scss */
p {
  margin-bottom: 30px;
}

/* line 56, ../sass/style.scss */
a {
  color: #5a5a52;
  text-decoration: underline;
}
/* line 59, ../sass/style.scss */
a.page-link {
  color: white;
}

/* line 64, ../sass/style.scss */
a:hover,
a:focus {
  color: #5a5a52;
  text-decoration: underline;
}
/* line 67, ../sass/style.scss */
a:hover.page-link,
a:focus.page-link {
  color: white;
}

/* line 71, ../sass/style.scss */
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 77, ../sass/style.scss */
.footnote {
  font-size: 12px;
}

/* line 81, ../sass/style.scss */
blockquote {
  font-size: 30px;
  font-style: italic;
  border: none;
}

/* line 87, ../sass/style.scss */
label {
  margin-bottom: 0;
}

/***** HEADER *****/
/* line 93, ../sass/style.scss */
header {
  position: fixed;
  top: 0;
  z-index: -1000;
  width: 100%;
}
/* line 99, ../sass/style.scss */
header nav {
  margin-top: 20px;
}

/* line 104, ../sass/style.scss */
#intro {
  background: url("../img/barnes-and-webb-hero-lg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 650px;
  color: white;
}
/* line 110, ../sass/style.scss */
#intro .container {
  padding-top: 300px;
}
/* line 113, ../sass/style.scss */
#intro .container .logo p {
  margin-top: 10px;
}
@media (max-width: 767px) {
  /* line 104, ../sass/style.scss */
  #intro {
    background: url("../img/barnes-and-webb-hero-sm.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    padding-top: 100px;
  }
  /* line 125, ../sass/style.scss */
  #intro .container {
    padding-top: 125px;
  }
  /* line 127, ../sass/style.scss */
  #intro .container .logo {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  /* line 133, ../sass/style.scss */
  #intro .logo {
    font-size: 24px;
  }
  /* line 135, ../sass/style.scss */
  #intro .logo p {
    padding-top: 15px;
  }
}
@media (min-width: 992px) {
  /* line 141, ../sass/style.scss */
  #intro .logo {
    font-size: 28px;
  }
  /* line 143, ../sass/style.scss */
  #intro .logo p {
    padding-top: 15px;
  }
}

/* line 150, ../sass/style.scss */
.arrow-mask {
  background: url("../img/arrow-mask.png") no-repeat center center;
  height: 30px;
  margin-top: 620px;
}
@media (max-width: 767px) {
  /* line 150, ../sass/style.scss */
  .arrow-mask {
    margin-top: 370px;
  }
}

/***** DETAIL BLOCK *****/
/* line 162, ../sass/style.scss */
.detail-block, .detail-block-alt {
  background: #eae9e4;
  padding: 30px 0 30px 0;
}
/* line 166, ../sass/style.scss */
.detail-block p, .detail-block-alt p {
  line-height: 1.7em;
}
/* line 170, ../sass/style.scss */
.detail-block .btn, .detail-block-alt .btn {
  border: none;
  padding: 10px 30px;
  margin: 30px 0;
  color: #5a5a52;
}
/* line 177, ../sass/style.scss */
.detail-block ul, .detail-block-alt ul {
  list-style-type: none;
  padding-left: 0;
}
/* line 181, ../sass/style.scss */
.detail-block ul li, .detail-block-alt ul li {
  padding: 5px 0;
}
/* line 185, ../sass/style.scss */
.detail-block ul .list-break, .detail-block-alt ul .list-break {
  color: #d8b218;
}

/* line 191, ../sass/style.scss */
.detail-block-alt {
  background: #ffed87;
  color: #5a5a52;
}
/* line 195, ../sass/style.scss */
.detail-block-alt a {
  color: #5a5a52;
}
/* line 199, ../sass/style.scss */
.detail-block-alt .prices {
  color: #d8b218;
  margin-top: 30px;
}

/***** PARALLAX HEXAGONS *****/
/* line 207, ../sass/style.scss */
#rent {
  position: relative;
  background: #eae9e4;
}
/* line 211, ../sass/style.scss */
#rent #hex-container {
  width: inherit;
  position: absolute;
  top: 0;
}
/* line 216, ../sass/style.scss */
#rent #hex-container #hexagons {
  position: relative;
}
/* line 219, ../sass/style.scss */
#rent #hex-container #hexagons #hex-1 {
  position: absolute;
  margin-top: 375px;
  left: 10%;
  width: 150px;
  height: 150px;
  background: url("../img/hex-1.png") no-repeat center center;
  background-size: 100%;
}
/* line 229, ../sass/style.scss */
#rent #hex-container #hexagons #hex-2 {
  position: absolute;
  margin-top: 375px;
  right: 12%;
  width: 200px;
  height: 200px;
  background: url("../img/hex-2.png") no-repeat center center;
  background-size: 100%;
}
/* line 239, ../sass/style.scss */
#rent #hex-container #hexagons #hex-3 {
  position: absolute;
  margin-top: 475px;
  left: 30%;
  width: 200px;
  height: 200px;
  background: url("../img/hex-3.png") no-repeat center center;
  background-size: 100%;
}
/* line 249, ../sass/style.scss */
#rent #hex-container #hexagons #hex-4 {
  position: absolute;
  margin-top: 400px;
  right: 35%;
  width: 125px;
  height: 125px;
  background: url("../img/hex-4.png") no-repeat center center;
  background-size: 100%;
}
@media (max-width: 767px) {
  /* line 216, ../sass/style.scss */
  #rent #hex-container #hexagons {
    display: none;
  }
}

/***** FEATURE IMAGE *****/
/* line 268, ../sass/style.scss */
.feature-image {
  height: 300px;
}
/* line 271, ../sass/style.scss */
.feature-image#hives {
  background: #5a5a52 url("../img/hives-sm.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 275, ../sass/style.scss */
.feature-image#bee-finger {
  background: #5a5a52 url("../img/bee-finger-sm.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 279, ../sass/style.scss */
.feature-image#men-at-work {
  background: #5a5a52 url("../img/men-at-work-sm.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (min-width: 768px) {
  /* line 285, ../sass/style.scss */
  .feature-image#hives {
    background: #5a5a52 url("../img/hives-lg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  /* line 289, ../sass/style.scss */
  .feature-image#bee-finger {
    background: #5a5a52 url("../img/bee-finger-lg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  /* line 293, ../sass/style.scss */
  .feature-image#men-at-work {
    background: #5a5a52 url("../img/men-at-work-lg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

/***** ADOPTION *****/
/* line 304, ../sass/style.scss */
#adopt #adopt-accordion .panel {
  border: none;
  margin: 0;
  background: #f3f1ef;
}
/* line 308, ../sass/style.scss */
#adopt #adopt-accordion .panel.open {
  background: white;
}
/* line 310, ../sass/style.scss */
#adopt #adopt-accordion .panel.open .panel-heading {
  background: white;
}
/* line 314, ../sass/style.scss */
#adopt #adopt-accordion .panel .panel-heading {
  background: #f3f1ef;
  text-align: left;
  font-size: 24px;
  line-height: 60px;
}
/* line 316, ../sass/style.scss */
#adopt #adopt-accordion .panel .panel-heading a {
  color: #5a5a52;
  text-decoration: none;
}
/* line 323, ../sass/style.scss */
#adopt #adopt-accordion .panel .panel-heading .price {
  color: #d8b218;
}
/* line 326, ../sass/style.scss */
#adopt #adopt-accordion .panel .panel-heading .title {
  font-weight: 600;
  margin-right: 5px;
}
/* line 330, ../sass/style.scss */
#adopt #adopt-accordion .panel .panel-heading .action {
  text-align: right;
}
/* line 334, ../sass/style.scss */
#adopt #adopt-accordion .panel .panel-body {
  text-align: left;
}
/* line 337, ../sass/style.scss */
#adopt #adopt-accordion .panel .panel-body .title {
  font-size: 16px;
  color: #d8b218;
  margin-bottom: 10px;
}
/* line 342, ../sass/style.scss */
#adopt #adopt-accordion .panel .panel-body li {
  padding: 5px 0;
}
/* line 345, ../sass/style.scss */
#adopt #adopt-accordion .panel .panel-body .image img {
  width: 100%;
}
/* line 349, ../sass/style.scss */
#adopt #adopt-accordion .panel .panel-body .action button {
  font-size: 20px;
  width: 100%;
  padding: 10px 0;
  background: #ffed87;
}
@media (max-width: 767px) {
  /* line 360, ../sass/style.scss */
  #adopt #adopt-accordion .panel .panel-heading {
    font-size: 16px;
  }
  /* line 363, ../sass/style.scss */
  #adopt #adopt-accordion .panel .panel-body {
    font-size: 16px;
  }
  /* line 365, ../sass/style.scss */
  #adopt #adopt-accordion .panel .panel-body .image {
    display: none;
  }
}

/***** QUOTE CAROUSEL *****/
/* line 379, ../sass/style.scss */
#quote-carousel .item {
  text-align: center;
  font-size: 30px;
  font-style: italic;
}
/* line 384, ../sass/style.scss */
#quote-carousel .item .quote {
  padding: 30px 0 20px 0;
}
/* line 388, ../sass/style.scss */
#quote-carousel .item .quotee {
  color: #d8b218;
  padding-bottom: 10px;
  font-size: 25px;
}
/* line 394, ../sass/style.scss */
#quote-carousel .item img {
  display: block;
  width: 100%;
}
@media (max-width: 767px) {
  /* line 379, ../sass/style.scss */
  #quote-carousel .item {
    font-size: 20px;
  }
  /* line 400, ../sass/style.scss */
  #quote-carousel .item .quotee {
    font-size: 15px;
  }
}

/***** MISC *****/
/* line 410, ../sass/style.scss */
.big-gap {
  height: 250px;
}
@media (max-width: 767px) {
  /* line 410, ../sass/style.scss */
  .big-gap {
    display: none;
  }
}

/*
.contact {
	color: $yellow;
	text-decoration: underline;
	margin-right: 10px;
}
*/
/* line 426, ../sass/style.scss */
.btn-default:hover {
  background: #ffed87;
}

/* line 430, ../sass/style.scss */
#about-us {
  background: white;
}
/* line 432, ../sass/style.scss */
#about-us a {
  color: #5a5a52;
}

/* line 437, ../sass/style.scss */
.box-btn {
  padding: 10px 20px;
  margin: 10px 0;
  border: solid 1px #5a5a52;
  cursor: pointer;
  display: inline-block;
  width: 100%;
}

/* line 447, ../sass/style.scss */
hr {
  border-top: solid 1px #5a5a52;
}

/***** MENUS *****/
/* line 454, ../sass/style.scss */
.navbar {
  font-size: 16px;
  line-height: 30px;
  border: none;
  margin: 0;
}

/* line 461, ../sass/style.scss */
.navbar .nav, .navbar .nav > li {
  float: none;
  display: inline-block;
  *display: inline;
  /* ie7 fix */
  *zoom: 1;
  /* hasLayout ie7 trigger */
  vertical-align: top;
}

/* line 469, ../sass/style.scss */
.nav > li a:hover, .nav > li a:focus {
  background: none;
}

/* line 473, ../sass/style.scss */
.navbar-inner {
  text-align: center;
}

/* line 478, ../sass/style.scss */
nav a {
  color: white;
  text-decoration: none;
}
/* line 482, ../sass/style.scss */
nav a:hover, nav a:focus {
  color: #ffed87;
}

/* line 487, ../sass/style.scss */
#static-menu {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 60px;
}
/* line 494, ../sass/style.scss */
#static-menu .contact {
  text-decoration: none;
}
/* line 498, ../sass/style.scss */
#static-menu .logo-container {
  display: none;
}
/* line 500, ../sass/style.scss */
#static-menu .logo-container .logo {
  width: 70px;
  height: 50px;
  margin: 0 15px;
  background: url("../img/barnes-and-webb-initials-white.png") no-repeat center center;
  background-size: 100%;
}
@media (min-width: 992px) {
  /* line 510, ../sass/style.scss */
  #static-menu .logo-container {
    display: block;
  }
}
/* line 515, ../sass/style.scss */
#static-menu .menu-basket {
  height: 40px;
  padding: 8px 0;
  margin: 5px 0 0 0;
  cursor: pointer;
  color: white;
  font-size: 16px;
}
/* line 524, ../sass/style.scss */
#static-menu .menu-basket label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-weight: 400;
}
@media (max-width: 767px) {
  /* line 487, ../sass/style.scss */
  #static-menu {
    display: none;
  }
}

/* line 538, ../sass/style.scss */
#sticky-menu {
  z-index: 1000;
  width: 100%;
  position: fixed;
  top: 0;
  background: white;
  font-size: 16px;
}
/* line 546, ../sass/style.scss */
#sticky-menu .logo-container {
  display: none;
}
/* line 549, ../sass/style.scss */
#sticky-menu .contact {
  text-decoration: none;
}
/* line 552, ../sass/style.scss */
#sticky-menu .nav-container {
  background: #eae9e4;
}
/* line 554, ../sass/style.scss */
#sticky-menu .nav-container #main-nav {
  background: white;
}
/* line 557, ../sass/style.scss */
#sticky-menu .nav-container .navbar-toggle {
  margin-right: 0;
  padding: 9px 15px;
}
/* line 562, ../sass/style.scss */
#sticky-menu .icon-bar {
  background: #5a5a52;
}
/* line 565, ../sass/style.scss */
#sticky-menu .logo {
  width: 70px;
  height: 50px;
  margin: 0 15px;
  background: url("../img/barnes-and-webb-initials-colour.png") no-repeat center center;
  background-size: 100%;
}
/* line 572, ../sass/style.scss */
#sticky-menu a {
  color: #5a5a52;
  text-decoration: none;
  line-height: 30px;
}
/* line 577, ../sass/style.scss */
#sticky-menu a:hover, #sticky-menu a:focus {
  color: #d8b218;
}
/* line 580, ../sass/style.scss */
#sticky-menu .menu-basket {
  height: 40px;
  padding: 5px 0;
  margin: 5px 0 0 0;
  border: solid 1px #5a5a52;
  cursor: pointer;
}
/* line 587, ../sass/style.scss */
#sticky-menu .menu-basket label {
  cursor: pointer;
  font-weight: 400;
}
/* line 592, ../sass/style.scss */
#sticky-menu .menu-basket.flash {
  -webkit-animation: yellow-flash 1s forwards;
  -moz-animation: yellow-flash 1s forwards;
  -ms-animation: yellow-flash 1s forwards;
  -o-animation: yellow-flash 1s forwards;
  animation: yellow-flash 1s forwards;
}
@media (min-width: 768px) {
  /* line 538, ../sass/style.scss */
  #sticky-menu {
    -webkit-transition: top, 0.2s;
    -moz-transition: top, 0.2s;
    -o-transition: top, 0.2s;
    transition: top, 0.2s;
    -webkit-transform: translate(0, -50px);
    -moz-transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    -o-transform: translate(0, -50px);
    transform: translate(0, -50px);
  }
  /* line 598, ../sass/style.scss */
  #sticky-menu .navbar-header {
    display: none;
  }
  /* line 604, ../sass/style.scss */
  #sticky-menu.visible {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
}
@media (min-width: 992px) {
  /* line 610, ../sass/style.scss */
  #sticky-menu .logo-container {
    display: block;
  }
}
@media (max-width: 767px) {
  /* line 538, ../sass/style.scss */
  #sticky-menu {
    border-bottom: solid 1px white;
  }
  /* line 618, ../sass/style.scss */
  #sticky-menu .navbar .nav, #sticky-menu .navbar .nav > li {
    width: 100%;
  }
  /* line 620, ../sass/style.scss */
  #sticky-menu .navbar .nav a, #sticky-menu .navbar .nav > li a {
    padding: 10px 0;
  }
  /* line 624, ../sass/style.scss */
  #sticky-menu .nav-container {
    padding: 0;
  }
  /* line 628, ../sass/style.scss */
  #sticky-menu .navbar-collapse {
    max-height: none;
  }
  /* line 632, ../sass/style.scss */
  #sticky-menu .menu-basket {
    margin-bottom: 25px;
  }
}

/***** CONTACT *****/
/* line 640, ../sass/style.scss */
#contact {
  background: #5a5a52;
}
/* line 642, ../sass/style.scss */
#contact h2 {
  color: white;
}
/* line 645, ../sass/style.scss */
#contact a, #contact .contact {
  display: block;
  font-size: 25px;
  padding: 10px 0;
  color: #ffed87;
  text-decoration: underline;
}
@media (max-width: 767px) {
  /* line 654, ../sass/style.scss */
  #contact a {
    font-size: 20px;
  }
}

/***** EMAIL SIGN-UP *****/
/* line 663, ../sass/style.scss */
#email-signup {
  padding: 40px 0;
  background: #eae9e4;
}
/* line 667, ../sass/style.scss */
#email-signup .input-holder {
  margin: 20px 0 50px 0;
}
/* line 671, ../sass/style.scss */
#email-signup h3 {
  font-weight: 300;
}
/* line 675, ../sass/style.scss */
#email-signup form {
  padding-bottom: 20px;
}
/* line 676, ../sass/style.scss */
#email-signup form input {
  border: none;
  padding: 10px 15px;
  width: 75%;
  margin: 0;
}
/* line 682, ../sass/style.scss */
#email-signup form #submit {
  width: 25%;
  padding: 10px 15px;
  background: #d8b218;
  text-decoration: none;
  border: none;
  margin: 0;
}
@media (max-width: 767px) {
  /* line 694, ../sass/style.scss */
  #email-signup form {
    font-size: 14px;
  }
}

/* line 702, ../sass/style.scss */
#footer-social {
  margin-bottom: 20px;
}
/* line 704, ../sass/style.scss */
#footer-social a {
  opacity: 0.5;
  padding: 0 10px;
}
/* line 707, ../sass/style.scss */
#footer-social a img {
  width: 30px;
  height: 30px;
}
/* line 712, ../sass/style.scss */
#footer-social a:hover {
  opacity: 1;
  -webkit-transition: opacity, 0.2s;
  -moz-transition: opacity, 0.2s;
  -o-transition: opacity, 0.2s;
  transition: opacity, 0.2s;
}

/***** SHOP *****/
/* line 720, ../sass/style.scss */
#shop {
  display: none;
  background: #eae9e4;
  margin-top: 100px;
}
/* line 725, ../sass/style.scss */
#shop.visible {
  display: block;
  -webkit-animation: alpha-in 0.25s forwards;
  -moz-animation: alpha-in 0.25s forwards;
  -ms-animation: alpha-in 0.25s forwards;
  -o-animation: alpha-in 0.25s forwards;
  animation: alpha-in 0.25s forwards;
}
/* line 730, ../sass/style.scss */
#shop .row .intro {
  margin: 25px 0 100px 0;
}
/* line 732, ../sass/style.scss */
#shop .row .intro a {
  color: #5a5a52;
  text-decoration: underline;
}
/* line 738, ../sass/style.scss */
#shop .simpleCart_shelfItem {
  margin-bottom: 50px;
}
/* line 741, ../sass/style.scss */
#shop .simpleCart_shelfItem a {
  display: inline-block;
  color: #5a5a52;
  text-decoration: none;
}
/* line 749, ../sass/style.scss */
#shop .simpleCart_shelfItem a .add-to-basket {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}
/* line 756, ../sass/style.scss */
#shop .simpleCart_shelfItem .header {
  position: relative;
}
/* line 758, ../sass/style.scss */
#shop .simpleCart_shelfItem .header img {
  width: 100%;
}
/* line 761, ../sass/style.scss */
#shop .simpleCart_shelfItem .header .over {
  -webkit-transition: opacity, 0.1s;
  -moz-transition: opacity, 0.1s;
  -o-transition: opacity, 0.1s;
  transition: opacity, 0.1s;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(255, 255, 255, 0.9) url("../img/jar-over.png") no-repeat center center;
  width: 100%;
  height: 100%;
}
/* line 771, ../sass/style.scss */
#shop .simpleCart_shelfItem .header .over.hover {
  -webkit-transition: opacity, 0.2s;
  -moz-transition: opacity, 0.2s;
  -o-transition: opacity, 0.2s;
  transition: opacity, 0.2s;
  opacity: 1;
}
/* line 778, ../sass/style.scss */
#shop .simpleCart_shelfItem .details {
  padding: 20px 0;
  background: #ffed87;
  text-align: center;
}
/* line 786, ../sass/style.scss */
#shop #stockist-list h3 {
  margin-bottom: 50px;
}
/* line 790, ../sass/style.scss */
#shop #stockist-list a {
  color: #5a5a52;
  text-decoration: underline;
}
@media (max-width: 767px) {
  /* line 797, ../sass/style.scss */
  #shop .row .intro {
    display: none;
  }
}

/***** BASKET *****/
/* line 805, ../sass/style.scss */
#basket {
  position: absolute;
  top: 120px;
  z-index: 100;
  width: 100%;
  background: #eae9e4;
  display: none;
}
/* line 813, ../sass/style.scss */
#basket .left {
  text-align: left;
}
/* line 816, ../sass/style.scss */
#basket .right {
  text-align: right;
}
/* line 820, ../sass/style.scss */
#basket .itemRow {
  text-align: left;
  margin-bottom: 30px;
}
/* line 823, ../sass/style.scss */
#basket .itemRow img {
  width: 100%;
}
/* line 826, ../sass/style.scss */
#basket .itemRow .item-details {
  padding-top: 15px;
}
/* line 830, ../sass/style.scss */
#basket .itemRow .item-quantity input {
  width: 100%;
  text-align: center;
  border: solid 1px #5a5a52;
  background: #eae9e4;
  padding: 15px 0;
}
/* line 838, ../sass/style.scss */
#basket .itemRow .item-total {
  text-align: right;
  line-height: 55px;
}
/* line 842, ../sass/style.scss */
#basket .itemRow a {
  color: #5a5a52;
  text-decoration: none;
  display: block;
  width: 100%;
  line-height: 55px;
}
/* line 849, ../sass/style.scss */
#basket .itemRow .item_increment, #basket .itemRow .item_decrement {
  padding: 0;
}
/* line 855, ../sass/style.scss */
#basket .summary .subtotal {
  padding-bottom: 5px;
}
/* line 858, ../sass/style.scss */
#basket .summary .total {
  font-weight: 600;
}
/* line 864, ../sass/style.scss */
#basket #checkout span {
  background: #ffed87;
}
/* line 866, ../sass/style.scss */
#basket #checkout span a {
  color: #5a5a52;
  text-decoration: none;
}
/* line 873, ../sass/style.scss */
#basket .headerRow {
  display: none;
}
@media (max-width: 767px) {
  /* line 805, ../sass/style.scss */
  #basket {
    top: 80px;
    font-size: 16px;
  }
  /* line 880, ../sass/style.scss */
  #basket .item-thumb, #basket .dash {
    display: none;
  }
  /* line 883, ../sass/style.scss */
  #basket .item-details {
    padding-top: 0 !important;
  }
}
@media (min-width: 768px) {
  /* line 888, ../sass/style.scss */
  #basket .actions {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  /* line 893, ../sass/style.scss */
  #basket .actions {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  /* line 898, ../sass/style.scss */
  #basket .actions {
    font-size: 16px;
  }
}

/***** STICKY SOCIAL *****/
/* line 906, ../sass/style.scss */
#sticky-social {
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 40px;
  height: 140px;
}
/* line 913, ../sass/style.scss */
#sticky-social .social-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}
/* line 919, ../sass/style.scss */
#sticky-social #fb {
  background: url("../img/fb-c.svg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 923, ../sass/style.scss */
#sticky-social #tw {
  background: url("../img/tw-c.svg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 927, ../sass/style.scss */
#sticky-social #ig {
  background: url("../img/ig-c.svg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 767px) {
  /* line 906, ../sass/style.scss */
  #sticky-social {
    display: none;
  }
}

/***** ANIMATIONS *****/
@-moz-keyframes alpha-in {
  /* line 940, ../sass/style.scss */
  0% {
    opacity: 0;
  }

  /* line 943, ../sass/style.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes alpha-in {
  /* line 940, ../sass/style.scss */
  0% {
    opacity: 0;
  }

  /* line 943, ../sass/style.scss */
  100% {
    opacity: 1;
  }
}

@-o-keyframes alpha-in {
  /* line 940, ../sass/style.scss */
  0% {
    opacity: 0;
  }

  /* line 943, ../sass/style.scss */
  100% {
    opacity: 1;
  }
}

@-ms-keyframes alpha-in {
  /* line 940, ../sass/style.scss */
  0% {
    opacity: 0;
  }

  /* line 943, ../sass/style.scss */
  100% {
    opacity: 1;
  }
}

@keyframes alpha-in {
  /* line 940, ../sass/style.scss */
  0% {
    opacity: 0;
  }

  /* line 943, ../sass/style.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes yellow-flash {
  /* line 949, ../sass/style.scss */
  0% {
    background-color: #ffed87;
  }

  /* line 952, ../sass/style.scss */
  100% {
    background-color: rgba(255, 237, 135, 0);
  }
}

@-webkit-keyframes yellow-flash {
  /* line 949, ../sass/style.scss */
  0% {
    background-color: #ffed87;
  }

  /* line 952, ../sass/style.scss */
  100% {
    background-color: rgba(255, 237, 135, 0);
  }
}

@-o-keyframes yellow-flash {
  /* line 949, ../sass/style.scss */
  0% {
    background-color: #ffed87;
  }

  /* line 952, ../sass/style.scss */
  100% {
    background-color: rgba(255, 237, 135, 0);
  }
}

@-ms-keyframes yellow-flash {
  /* line 949, ../sass/style.scss */
  0% {
    background-color: #ffed87;
  }

  /* line 952, ../sass/style.scss */
  100% {
    background-color: rgba(255, 237, 135, 0);
  }
}

@keyframes yellow-flash {
  /* line 949, ../sass/style.scss */
  0% {
    background-color: #ffed87;
  }

  /* line 952, ../sass/style.scss */
  100% {
    background-color: rgba(255, 237, 135, 0);
  }
}
